.form-container {
  margin: 30px;
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 4px 4px 5px #00000060;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}

input {
  width: 100%;
  margin-bottom: 0;
  border: 3px solid #f28482 !important;
  border-radius: 8px;
}

textarea {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  font-weight: 300 !important;
  border: 3px solid #f28482 !important;
  border-radius: 8px;
}

.form-check {
  width: fit-content;
}

.form-check [type='checkbox'] + label::after {
  border-color: #f28482 !important;
}

button {
  background-color: #f28482 !important;
  color: white !important;
}
